%p= f.text_field :name, :required => true
= textile_info
%p~ f.text_area :description, :rows => 10, :cols => 60, :required => true
= textile_info
%p~ f.text_area :directions, :rows => 10, :cols => 60, :required => true
