#recipe_description
  h3
    :font-size 1.4em
  p
    :font-style italic

#recipe_ingredients
  h3
    :border-bottom 1px solid black
    :font-size 1.4em
  table tr td.number
    :width 4em

#recipe_directions
  h3
    :border-bottom 1px solid black
    :font-size 1.4em

.recipe
  margin: 2em 0 2em 0
  h3
    :margin 0.2em
    a
      :color = !color_1
      &:hover
        :color = !color_2
  p
    :font-style italic
    :margin-left 1em
    :margin-bottom 0.5em
  .controls
    :margin 0 0 0 1em
    :font-variant small-caps

.textile_text
  :margin-left 1em
  h1, h2, h3
    :color black
    :margin 1em 0 1em 0
    :padding 0
  h1
    :font-size 1.6em
  h2
    :font-size 1.4em
  h3
    :font-style 1.2em
  p
    :margin 0.5em 0 0.5em 0
    :padding 0
  ul
    :list-style-position inside