%h2=l :label_title_new_period

= error_messages_for :period

- labelled_form_for(@period) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), periods_path
