html, body {
  margin: 0;
  padding: 0;
  font: normal 11px genova, sans-serif;
  bakground-color: white;
  color: black; }

a {
  text-decoration: none;
  color: #347789; }
  a:hover {
    color: #66cccc; }

ul {
  list-style-type: square; }

ul, li, form, input, dt, dl, dd, ol, div, p, blockquote, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 3em;
  color: #66cccc;
  margin: 0.5em 0 1em 5em; }

h3 {
  font-size: 2em;
  color: black;
  margin: 0.5em 0 0.5em 0; }

#header {
  border-top: 10px solid #330000;
  border-bottom: 5px solid #330000;
  padding: 2em;
  height: 7.5em; }
  #header h1 {
    color: #330000;
    font-size: 250%;
    margin: 0.67em; }
  #header #menu ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 17em;
    position: relative; }
  #header #menu li {
    list-style: none;
    float: left;
    margin: 0 1em 0 0; }
  #header #menu a {
    float: left;
    display: block;
    background-color: #66cccc;
    border-bottom: 2px solid #347789;
    padding: 1em;
    color: #330000; }
    #header #menu a:hover {
      background-color: #330000;
      color: #66cccc; }

#sidebar {
  background-color: #330000;
  width: 15em;
  height: 40em;
  padding: 0.3em;
  float: left;
  color: #66cccc; }
  #sidebar ul {
    margin: 2em; }
  #sidebar li {
    margin-top: 1em;
    margin-bottom: 1em; }
  #sidebar a {
    font-weight: bold;
    font-size: 1.1em;
    color: white; }
    #sidebar a:hover {
      color: #66cccc; }

#main {
  float: left;
  padding: 2em; }
  #main p {
    width: 50em; }

#errorExplanation {
  border: 1px dashed #bb0000;
  font-size: 1.2em;
  color: #bb0000;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em; }
  #errorExplanation ul {
    list-style-position: inside; }

#notice {
  border: 3px dashed #66cccc;
  font-size: 1.2em;
  color: #66cccc;
  text-align: center;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em; }

.labelledform p {
  margin: 0;
  padding: 5px 0 8px 0;
  padding-left: 90px;
  height: 1%;
  clear: left; }
.labelledform label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-left: -90px;
  width: 85px; }
.labelledform label.floating {
  font-weight: normal;
  margin-left: 0px;
  text-align: left;
  width: 200px; }
.labelledform textarea {
  width: 100%; }

.required {
  color: #bb0000; }

.textile_info {
  font-size: 0.8em; }

#recipe_description h3 {
  font-size: 1.4em; }
#recipe_description p {
  font-style: italic; }

#recipe_ingredients h3 {
  border-bottom: 1px solid black;
  font-size: 1.4em; }
#recipe_ingredients table tr td.number {
  width: 4em; }

#recipe_directions h3 {
  border-bottom: 1px solid black;
  font-size: 1.4em; }

.recipe {
  margin: 2em 0 2em 0; }
  .recipe h3 {
    margin: 0.2em; }
    .recipe h3 a {
      color: #330000; }
      .recipe h3 a:hover {
        color: #66cccc; }
  .recipe p {
    font-style: italic;
    margin-left: 1em;
    margin-bottom: 0.5em; }
  .recipe .controls {
    margin: 0 0 0 1em;
    font-variant: small-caps; }

.textile_text {
  margin-left: 1em; }
  .textile_text h1, .textile_text h2, .textile_text h3 {
    color: black;
    margin: 1em 0 1em 0;
    padding: 0; }
  .textile_text h1 {
    font-size: 1.6em; }
  .textile_text h2 {
    font-size: 1.4em; }
  .textile_text h3 {
    font-style: 1.2em; }
  .textile_text p {
    margin: 0.5em 0 0.5em 0;
    padding: 0; }
  .textile_text ul {
    list-style-position: inside; }

.recipe_category h3 {
  margin-top: 1.2em;
  margin-bottom: 0; }
  .recipe_category h3 .count {
    font-style: italic;
    font-size: 0.6em;
    font-weight: normal; }
  .recipe_category h3 a {
    color: #330000; }
    .recipe_category h3 a:hover {
      color: #66cccc; }
.recipe_category .controls {
  font-variant: small-caps; }

.ingredient h3 {
  margin-bottom: 0; }
.ingredient p.ingredient_unit {
  margin-left: 1em;
  font-style: italic; }
.ingredient p.ingredient_period {
  margin-left: 1em;
  font-weight: bold; }
.ingredient .controls {
  font-variant: small-caps;
  margin-bottom: 2em; }

.ingredient_category h3 {
  margin-top: 1.2em;
  margin-bottom: 0; }
  .ingredient_category h3 .count {
    font-style: italic;
    font-size: 0.6em;
    font-weight: normal; }
  .ingredient_category h3 a {
    color: #330000; }
    .ingredient_category h3 a:hover {
      color: #66cccc; }
.ingredient_category .controls {
  font-variant: small-caps; }

.measure {
  margin-bottom: 1em; }
  .measure h3 {
    font-size: 1.2em; }
  .measure .controls {
    font-size: 0.8em;
    font-variant: small-caps; }

.unit h3 {
  font-size: 1.3em;
  margin-bottom: 0; }
.unit .unit_abbreviation {
  font-style: italic;
  font-weight: normal; }
.unit .controls {
  font-variant: small-caps; }

.period h3 {
  font-size: 1.2em;
  margin-bottom: 0; }
.period .controls {
  font-variant: small-caps; }
