%p= f.text_field :name, :required => true
%p= f.select :unit_id, @units.collect { |u| [u.name, u.id] }, :required => true
%p= f.select :period_id, @periods.collect { |p| [month_name(p.start_month_symbol) + " - " + month_name(p.end_month_symbol), p.id] }, :required => true
