%h2=l :label_title_new_ingredient

= error_messages_for :ingredient

- labelled_form_for([@ingredient_category, @ingredient]) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), ingredient_category_ingredients_path(@ingredient_category)
