%h2=l :label_title_new_ingredient_category

= error_messages_for :ingredient_category

- labelled_form_for(@ingredient_category) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), ingredient_categories_path
