%h2=l :label_title_new_unit

= error_messages_for :unit

- labelled_form_for(@unit) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), units_path
