%div[measure]
  %h3
    = measure.number.to_s + (measure.ingredient.unit ? measure.ingredient.unit.abbreviation : "") + " " + measure.ingredient.name
    %span.controls
      = link_to l(:label_button_edit), edit_polymorphic_path([@recipe_category, @recipe, measure])
      |
      = link_to l(:label_button_delete), polymorphic_path([@recipe_category, @recipe, measure]), :confirm => l(:question_confirm_delete), :method => :delete