%h2=l :label_title_measures, @recipe.name

- if flash[:notice]
  #notice
    %p= flash[:notice]

#measures
  = render :partial => "measure", :collection => @measures

%p= link_to l(:label_link_back), polymorphic_url([@recipe_category, @recipe])

- content_for :sidebar do
  %li= link_to l(:label_link_new_measure), new_recipe_category_recipe_measure_path(@recipe_category, @recipe)
