%h2=l :label_title_new_measure

= error_messages_for :measure

- labelled_form_for([@recipe_category, @recipe, @measure]) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), recipe_category_recipe_measures_path(@recipe_category, @recipe)
